body {
    font-family: Nunito;
    width: 250px;
    overflow: scroll;
}

.btn {
    border-radius: 4px;
    font-family: Nunito;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #ffffff;
    border: none;
    padding: 5px;
    margin-left: 5px;
    outline: none;
}

.add-btn {
    background-color: #0268f7;
}

.clear-btn {
    background-color: #fe566b;
}

input {
    outline: none;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.12);
    font-family: Nunito;
    font-size: 12px;
    display: block;
    margin: 10px 0px;
    width: 100%;
    letter-spacing: 0.6px;
    color: rgba(0, 0, 0, 0.54);
}

.listApp {
    margin-top: -10px;
}

.list-group {
    padding-left: 20px;
    margin-bottom: 0px;
    font-size: 15px;
}

.list-group-item {
    border: none;
    padding: 5px 15px;
}

h2 {
    font-family: Nunito;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.7px;
    text-align: center;
    margin: 0px;
    color: rgba(0, 0, 0, 0.87);
}
